h2 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Estilização para as opções de resposta */
.answer-options {
  display: flex;
  flex-direction: column;
}

button {
  background-color: whitesmoke;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15); /* Verde para resposta correta */
}

.wrong-answer {
  border: 3px solid red; /* Vermelho para resposta incorreta */
}
